<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>元立方</title>
  <style>
  .button {
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	}

  .button_log {background-color: #4CAF50;} /* Green */
  </style>
<head>
<body>
  <div class="container">
    <h1>元立方</h1>
    <p>NFT 交易内容板块</p>
    <p th:text="${something}">yee</p>
    <!--<a href="/logIn">
    <button class="button button_log">登录</button>
    </a>-->
  </div>

</body>
</html>
